//$primary-color: #3f51b5;
$primary-color: #7b1fa2;

.message-right,
.message-left {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
}
app-message{
  height: 100%;
}

.message-right {
  align-items: flex-end;
}
.message-left{
  align-items: flex-start;
}

.message-right .message-content {
  background-color: $primary-color;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 75%;
}

.message-left .message-content {
  background-color: #ededed;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 5px;
  max-width: 75%;
}

.message-left .sender {
  font-weight: bold;
  width: 100%;
}

.message-left .sent-date {
  font-size: 12px;
  color: #999999;
}

.message-right .sender {
  font-weight: bold;
}

.message-right .sent-date {
  font-size: 12px;
  color: #999999;
  position: relative;
}
.mat-mdc-tab-body.mat-mdc-tab-body-active{
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-self: flex-end;
}


.mat-tab-group-custom {
  height: 90vh;
}

.input-container {
  flex-shrink: 0;
}
@media screen and (min-width: 938px){
  .input-field{
    width: 90%;
  }
}

@media screen and (max-width: 937px){
  .input-field{
    width: 100%;
  }
  .input-field button{
    width: 100%;
  }
}

.container {
  display: flex;
  height: 92vh;
}
.mat-mdc-tab-body-wrapper{
  height: 100%;
  overflow-y: hidden;
}

.chat-tab{
  overflow: hidden;
}

.settings{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.message-content-img{
  height: 200px;
}
