<div class="container" fxHide.xs>
  <app-chat-menu [users]="users" [groups]="groups" [selectedChat]="chatId"
                 (switchChat)="switchLoadChat($event)"></app-chat-menu>


  <div class="page-container">
        <app-message (sendMessageEmitter)="sendMessage($event)" [loggedUser]="loggedUser" [chat]="chat"></app-message>
  </div>
<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" class="settings" (click)="openSettings()">
  <mat-icon>settings</mat-icon>
</button>
</div>

<mat-tab-group *ngIf="isVisibleOnXs" class="chat-tab" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Chats">
    <app-chat-menu [users]="users" [groups]="groups" [selectedChat]="chatId"
                   (switchChat)="switchLoadChat($event)"></app-chat-menu>
  </mat-tab>
  <mat-tab label="Message">
    <app-message (sendMessageEmitter)="sendMessage($event)" [loggedUser]="loggedUser" [chat]="chat"
                 ></app-message>
  </mat-tab>
  <mat-tab label="Chat settings">
    <app-settings [dialog]="false" [chat]="chat" [loggedUser]="loggedUser"></app-settings>
  </mat-tab>
</mat-tab-group>


