a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}
mat-sidenav {
  width: 250px;
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
