<mat-nav-list>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>app_registration</mat-icon>
    <span>Sign Up</span>
  </a>
  <a mat-list-item routerLink="/main" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>

  <a mat-list-item routerLink="/members" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>people</mat-icon>
    <span>Members</span>
  </a>

  <a mat-list-item routerLink="/groups" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>groups</mat-icon>
    <span>Groups</span>
  </a>

  <a mat-list-item routerLink="/login" (click)="logout()" *ngIf="loggedInUser">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>

</mat-nav-list>
