<div class="message-scroll-container">
<mat-list *ngIf="chat && chat.messages" #scrollContainer>

  <mat-card class="card" *ngFor="let message of chat.messages"
            [ngClass]="{
        'message-right': message.sender === loggedUser.email,
        'message-left': message.sender !== loggedUser.email
      }"
  >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-subtitle>{{ message.sender }}</mat-card-subtitle>
        <img style="height: 200px; margin-top: 30px" class="message-content-img" *ngIf="message.imageUrl && message.imageUrl !== ''" [src]="message.imageUrl" alt=" {{ message.text }}" >
      </mat-card-title-group>

    </mat-card-header>
    <mat-card-content>
            <div class="message-content" *ngIf="message.text && message.text !== ''">
              <span>{{ message.text }}</span>
            </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-title-group>
        <mat-card-subtitle>
          {{ message.send}}
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-footer>
  </mat-card>

</mat-list>
</div>

<div class="input-container">
  <mat-form-field class="input-field">
    <input matInput placeholder="Writing a message" [(ngModel)]="messageInput"/>
    <input type="file" #fileInput/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sendMessageEmit()">Send</button>
</div>

