//$primary-color: #3f51b5;
$primary-color: #7b1fa2;

.message-right,
.message-left {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
}

.message-right {
  align-items: flex-end;
}

.message-left {
  align-items: flex-start;
}

.message-right .message-content {
  background-color: $primary-color;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 75%;
}

.message-left .message-content {
  background-color: #ededed;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 5px;
  max-width: 75%;
}

.message-left .sender {
  font-weight: bold;
  width: 100%;
}

.message-left .sent-date {
  font-size: 12px;
  color: #999999;
}

.message-right .sender {
  font-weight: bold;
}

.message-right .sent-date {
  font-size: 12px;
  color: #999999;
  position: relative;
}

.input-container {
  flex-shrink: 0;
}

.message-scroll-container {
  height: 90%;
  overflow-y: auto;
}

@media screen and (min-width: 938px) {
  .input-field {
    width: 90%;
  }
  mat-list {
    flex-grow: 1;
  }
}

@media screen and (max-width: 937px) {
  .input-field {
    width: 100%;
  }
  .input-field button {
    width: 100%;
  }
  .message-scroll-container {
   height: 80%;
  }

  mat-list {
    flex-grow: 1;
    overflow-y: auto;
    height: 90%;
  }
}

@media screen and (max-width: 599px){
  .input-field{
    width: 100%;
  }
  .input-field button{
    width: 100%;
  }
  .message-scroll-container {
    min-height: 500px;
    height: 20%;
  }

}


